.stepProgressWrapper {
  width: 500px;
  height: 150px;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.progressGroup {
  display: flex;
  align-items: center;
}

.progressBar {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #000;
}

.progressLabel {
  margin: 0 6px;
}