.hr {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: lightgray;
  
}


.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.prev, .next {
  display: flex;
  align-items: center;
  width: 150px;
}

button {
  background-color: transparent;
}

.buttonGroup > .prev {
  border: none;
  display: flex;
  justify-content: space-around;
}

.buttonGroup >.next {
  border: none;
  color: white;
  text-align: center;
  background-color: rgb(245, 128, 147);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
