.progressControlContainer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


.buttonGroup {
  display: flex;
  border-top: 1px solid #E6E6EB;
  padding-top: 1.5rem;
}

button {
  display: flex;
  align-items: center;
  padding: 0;
  height: 46px;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}

.prev {
  display: flex;
  width: 150px;
  background-color: transparent;
  justify-content: space-around;
  padding: 20px;
  margin-right: 120px;
}

.next {
  display: flex;
  justify-content: space-around;
  width: 150px;
  color: white;
  text-align: center;
  background-color: rgb(245, 128, 147);
  padding: 20px;
}
