/* deliverContainer */
.radioGroup {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

.radioInfo {
  font-size: 0.8rem;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 400px;

}

input[type='radio'] {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  border-radius: 50%;
  margin-right: 20px;
}

input[type='radio']:checked {
  box-shadow: inset 0 0 0 4px black;
}

.radioBoxBorder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

input[type='radio']~.radioBoxBorder {
  border-radius: 5px;
  border: 1px solid #ccccd0;
}

input[type='radio']:checked~.radioBoxBorder {
  border: 1px solid #2A2A2A;
}