.registerTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.progressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-top: 48px;
}

.progressGroup {
  display: flex;
  align-items: center;
}

.progressBar {
  display: flex;
  flex-grow: 1;
  display: block;
  margin: 0 5px;
  max-width: 60px;
  height: 2px;
  background-color: black;
}

.progressLabel {
  margin: 0 6px;
}

.progressIcon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 1px solid #000;
  border-radius: 50%;
}
.text {
  width: inherit;
  height: inherit;
  position: absolute;
  line-height: 24px;
  text-align: center;

}